html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fcfcfc;
}

body {
    font-family: 'Poppins', sans-serif;


}

/*      Header Site Start---*/
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    border-radius: 30px;
    margin-left: 120px;
    margin-right: 80px;
    margin-top: 50px;

    flex-wrap: nowrap;
    height: 500px;
}

.header-photo img {
    max-height: 100%;
    height: 1000px;
    margin-right: 20px;
}


.header-article {
    color: white;
    width: 1000px;
    margin-left: 20px;

}

h1 {
    margin-top: 111px;
    margin-left: 106px;
    font-weight: 70px;
    line-height: 80px;
    margin-right: 24px;
}

.blog {
    margin-left: 106px;
    margin-top: 20px;
}



.button {
    background-color: #DD0000;
    border-radius: 7px;
    color: #FFFFFF;
    padding: 16px 32px;
    text-align: center;

    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    margin-left: 93px;

    margin-right: 368px;


    cursor: pointer;
}



.button:hover {
    background-color: #fdcb6e;
    color: #34495e;

}

/*        Header Section End*/







/*                   Menu*               */
.menu {
    background-color: black;
    color: whitesmoke;
}

.upcoming-match {
    color: white;
}

.match .match-banner img {
    width: 224px;
    height: 104px;
}

.match {
    background-color: E8E8E8
}

.match-title {
    color: #161616;
}

/* Start Upcoming Section */

.upcoming {
    display: flex;



}







.menu-box-outsise {

    margin-right: 24px;
    background-color: #161616;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}




.menu-box-outsise {
    margin-top: 130px;
    margin-left: 120px;
    margin-bottom: 952px;
    margin-right: 24px;
    background-color: black;
    width: 312px;
    height: 312px;
    border-radius: 10px;
}

.menu-box-inside {
    height: 252px;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 254px;
    position: absolute;

}

.upcoming-match {
    background-color: white;
    color: black;



    padding: 16px 32px;


    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    width: 256px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
    border-radius: 10px;
}

.ok {
    background-color: red;
    color: white;



    padding: 16px 32px;


    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    width: 256px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
    border-radius: 10px;

}

/*                   Start Blog          */




.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    margin-top: 128px;
    margin-bottom: 138px;
    margin-right: 70px;
    margin-left: 10px;

}

.containers {

    border: 2px solid wheat;
    width: 240px;
    border-radius: 10px;
    height: 250px;

}

.images-vs {
    display: flex;

}



#vs {
    margin-left: 5px;
}

.text-design {


    position: absolute;

}





/*                    End Blog           */



/*                 Footer Style                           */
footer {
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-details {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.footer-content h3 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
}



.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials a {
    text-decoration: none;
    color: #ffff;
}

.socails a i {
    font-size: 1.1rem;
}



.socials li {
    margin: 0 10px;
}

.footer-details li {
    margin: 0 10px;
}



.footer-details a {
    text-decoration: none;
    color: #B9B9B9
}





.footer-details a i {
    font-size: .1rem;
}



hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
}